body{
	font-family:"Source Sans Pro";
}

header { 
overflow: auto;
background: black;
color:white;
border-bottom:5px solid #F2FC23;
}

h1{
font-family: "Merriweather", serif;
float:left;
color:#F2FC23;
padding:10px;
font-size:30px;
}

nav{
float:right;
font-size:20px;
padding:15px;
}

h2{
	background:#B8BEBF;
	font-family: "Merriweather", serif;
	font-style:italic;
	text-align:center;
	padding:15px;
	font-size:25px;
	}

ul li {
	display: inline;
}

header nav ul li a {
 margin-left:3px;
}

article{
	background-image:url("../img/coworking.jpg");
	overflow: auto;
	background-size:cover;
	height:500px;
}
p{
	margin:10px 0 10px 0;
}
.maincta{
	float:right;
	margin:100px 20px 100px 0;
	width:25%;
	background: rgba(255,255,255,0.5);
	padding:30px;
	box-shadow:4px 4px grey;
}

.maincta p {
	line-height: 1.5;
}
h3{
	font-weight:bold;
	font-size:20px;
}
#taste{
	text-decoration:line-through;
	color:grey;
}

#are{
	border-bottom:3px #F2FC23 solid;
}
section{
	overflow:auto;
	background:#E1EAED;
}

button{
	font-family:Oswald;
	width:100%;
	padding:5px;
	font-size:15px;
	border-radius:5px;
	margin:20px 0px 20px 0px;
}
h4{
font-family: "Merriweather", serif;
font-size:20px;	
}
.specialbutton{
	background:#F2FC23;
}
.option{
width:30%;
padding:10px;
font-size:18px;
line-height: 1.5;
margin:10px;
}
#a{
float:left;
}
#b{
float:left;
border-left:1px solid grey;
border-right:1px solid grey;
}
#c{
float:right;
}