body{
	font-family:cabin;
	text-align:center;
}
main{
	height:80%;
	width:70%;
	margin:auto;
}
.leftContainer{
	float:left;
	width:35%;
	height:300px;
}
.rightContainer{
	float:left;
	width:35%;
	height:300px;
}
.downContainer{
	float:left;
	width:100%;
	height:200px;
}
.middleContainer{
	float:left;
	width:25%;
	height:400px;
	margin:auto;
}
#left{
	
	width:20px;
	height:20px;
	border-bottom:25px solid transparent;
	border-right:25px solid red;
	border-left:25px solid transparent;
	border-top:25px solid transparent;
	margin-top:120px;
	margin-left:90%;
	padding:0px;
	display:none;

}
#right {
	width:20px;
	height:20px;
	border-bottom:25px solid transparent;
	border-right:25px solid transparent;
	border-left:25px solid green;
	border-top:25px solid transparent;
	margin-top:120px;
	margin-right:80px;
	padding:0px;
	display:none;
	float:left;

}
#down{
	
	width:25px;
	height:25px;
	border-bottom:25px solid transparent;
	border-right:25px solid transparent;
	border-left:25px solid transparent;
	border-top:25px solid yellow;
	margin-left:180px;
	padding:0px;
	display:none;

}
.card{
	background:rgb(153, 230, 230);
	border:10px solid rgb(25, 103, 103);
	border-radius:9px;
	
}

#mainword{
	font-weight:bold;
	font-size:30px;
	background:white;
}
.taboowords{
	padding:10px;
	width:70%;
	background:white;
	margin:10px auto;
}

button{
	height:30px;
	width:30px;
	background:white;
	margin:20px;
}

.clear{
	clear:both;
}
#next{
	width:150px;
	display:inline-block;
	align-self:left;
}

/*Questions: how to align inline elements left
how to build a timer*/
