body{
	font-family:cabin;
	text-align:center;
}
main{
	height:300px;
	width:200px;
	margin:auto;
}
#left{
	float:left;
	width:20px;
	height:20px;
	border-bottom:25px solid transparent;
	border-right:25px solid red;
	border-left:25px solid transparent;
	border-top:25px solid transparent;
	margin-top:120px;
}
#right {
	float:left;
	width:20px;
	height:20px;
	border-bottom:25px solid transparent;
	border-right:25px solid transparent;
	border-left:25px solid green;
	border-top:25px solid transparent;
	margin-top:120px;

}
#down{
	float:left;
	width:25px;
	height:25px;
	border-bottom:25px solid transparent;
	border-right:25px solid transparent;
	border-left:25px solid transparent;
	border-top:25px solid yellow;
	margin-left:180px;
}
.card{
	background:rgb(153, 230, 230);
	border:10px solid rgb(25, 103, 103);
	border-radius:9px;
	float:left;
}

#mainword{
	font-weight:bold;
	font-size:30px;
	background:white;
}
.taboowords{
	padding:10px;
	width:70%;
	background:white;
	margin:10px auto;
}

button{
	height:30px;
	width:30px;
	background:white;
	margin:20px;
}

.clear{
	clear:both;
}
#next{
	width:150px;
	display:inline-block;
	align-self:left;
}

/*Questions: how to align inline elements left
how to build a timer*/
