h2{
	background: black;
	color:white;
	text-align:center;
	margin:10px 10px 20px 10px;
	
	How do you get l/r margin right?

	font-size:20px;
	padding:5px;

}
div{
	background:rgb(212,206,205);
	margin:20px;
	padding:10px;
}
p{
	background: rgb(242,86,51);
	padding:10px;
	margin:10px;
	text-align: center;
}
.a{
	color:blue;
}
.b{
	color:green;
}
.c{
	color:yellow;
}